.download {
    padding-top: 7em;

    .download-item {
        padding: 1.5em;
    }

    .btn {
        padding: 2em;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}